.loginButton {
    -webkit-border-radius: 5;  -moz-border-radius: 5;  border-radius: 5px;
    background-color: hsl(240, 67%, 98%);
    border: 1px solid hsl(240, 28%, 91%);
    height: 36px;
    width: 72px;
    font-weight: bold;
    }

.loginButton:hover {
    background-color: hsl(240, 10%, 81%);
}